footer
	.footer-block
		.container
			.block_title.column-center
				.title
					h2.text-white Giải đua xe địa hình HTV CHALLENGE CUP 2020
			.flow
				img(src="img/flow-red.png" alt="")
			.row
				.col-lg-1
				.footer-card.col-lg-3.col-md-6
					.card__title
						h4 Thông tin liên hệ
					.card__body
						ul
							li
								a(href="#") Ông: Nguyễn Đình Khôi (0903 589 180)
							li
								a(href="#") Email: dinhkhoiak@gmail.com
				.footer-card.col-lg-3.col-md-6
					.card__title
						h4 Thông tin liên hệ
					.card__body
						ul
							li
								a(href="#") Ông: Nguyễn Đức Phát (0913 725 159)
							li
								a(href="#") Email: nducphat@gmail.com
				.footer-card.col-lg-4
					.card__title
						h4 Đăng kí nhận bản tin
					.subscribe
						.subscribefrm
							input(type="text" placeholder='Nhập địa chỉ email')
							button(type="submit")
								span.ri-send-plane-2-line
	.footer-copyright
		.link-icon
			a(href="#").icon
				span.ri-facebook-fill
			a(href="#").icon
				span.ri-twitter-fill
			a(href="#").icon
				span.ri-youtube-fill
			a(href="#").icon
				span.ri-instagram-fill
			a(href="#").icon
				span.ri-linkedin-fill
		.container
			.policy-link
				p BAN THỂ THAO – ĐÀI TRUYỀN HÌNH TP. Hồ Chí Minh - Số 14 Đinh Tiên Hoàng, Quận 1
			.copyright
				p 2020 © HTV Challenge. Thiết kế website bởi Cánh Cam.
