header
	.header_top
		.container
			.header
				.header_left
					ul.nav_menu-1
						li
							a(href="about.html") Giới thiệu
						li
							a(href="product-list.html") Lịch sử hình thành
						li
							a(href="promotion.html") Nội dung giải đấu
						li
							a(href="news-list.html") Lịch thi đấu
				.header_logo
					a(href="index.html")
						.logo-header
							img(src="./img/logo.png", alt="")
				.header_right
					ul.nav_menu-2
						li
							a(href="about.html") Giải thưởng
						li
							a(href="product-list.html") Kết quả bài thi
						li
							a(href="promotion.html") Tổng kết
						li
							a(href="promotion.html") Tin tức
						li
							a(href="promotion.html") Video
						li
							.search_box
								span.ri-search-line
	.header_bot
		.container
			.header
				.header_left
					ul.nav_menu-moblie
						li
							a(href="about.html") Giới thiệu
						li
							a(href="product-list.html") Lịch sử hình thành
						li
							a(href="promotion.html") Nội dung giải đấu
						li
							a(href="news-list.html") Lịch thi đấu
				.header_logo
					a(href="index.html")
						.logo-header
							img(src="./img/logo-mobile.png", alt="")
				.header_right
					ul.nav_menu-moblie
						li
							a(href="about.html") Giải thưởng
						li
							a(href="product-list.html") Kết quả bài thi
						li
							a(href="promotion.html") Tổng kết
						li
							a(href="promotion.html") Tin tức
						li
							a(href="promotion.html") Video
						li
							.search_box
								span.ri-search-line
					.mobile-toggle
						.search_box
							span.ri-search-line
						.header_btn
							span.ri-menu-line
	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay