section.block_s-1
	.container
		.row
			.col-lg-2
			.col-lg-8
				.block_title.column-center
					.title
						h2 Giới thiệu giải đấu
					.content Nhằm chào mừng thành công Đại hội Đại biểu Đảng bộ TP.HCM khóa XI nhiềm kỳ 2020-2025, hướng tới chào mừng Đại hội Đại biểu toàn quốc lần thứ XIII của Đảng.
					.content-detail Đài truyền hình thành phố Hồ Chí Minh phối hợp với Công ty TNHH MTV SX & TM Minh Giang tổ chức sản xuất loạt chương trình truyền hình thực tế về giải đua xe địa hình HTV Challenge Cup 2020 với mong muốn phát triển bộ môn đua xe ô-tô địa hình tại Việt Nam nói chung và thành phố Hồ Chí Minh nói riêng, giới thiệu đến công chúng khán giả những kỹ năng - tâm lý lái xe ô-tô góp phần bảo vệ an toàn giao thông. Đồng thời, thúc đẩy phong trào thiện nguyện đến những vùng sâu vùng xa, lan tỏa thông điệp nhân văn và ý chí vượt qua khó khăn thử thách.
					a.read-more(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
section.block_s-2
	.container
		.row
			.col-lg-6
				.block_title
					.title
						h2.text-white Nội dung giải đấu
				.block_content-circle
					ul.content
						li
							p Là giải đua địa hình bao gồm các nội dung đua trên đường đua nhân tạo và địa hình tự nhiên, các đường đua nằm trong khuôn viên phim trường HTV – huyện Củ Chi – thành phố Hồ Chí Minh. Được tổ chức bởi Đài Truyền hình thành phố Hồ Chí Minh và Công ty TNHH MTV SX & TM Minh Giang
						li
							p Giải đua phân ra 5 hạng thi đấu như sau:
							p 1/ Hạng chuyên nghiệp
							p 2/ Hạng nâng cấp bán tải
							p Hạng nâng cấp 2 cầu (không phải bán tải)
							p Hạng nguyên bản bán tải
							p 5/ Hạng nguyên bản 2 cầu (không phải bán tải)
						li
							p Địa điểm: Phim trường HTV – xã Hòa Phú, Củ Chi – Thành phố Hồ Chí Minh
					a.read-more_white(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
			.col-lg-6
		.row
			.col-lg-6.pt-30
				.block_title
					.title
						h2 Thông tin đăng ký thi đấu
				.block_content
					ul.content
						p Vui lòng liên hệ chúng tôi theo các thông tin sau:
						li
							p
								strong Điện thoại:
								|  0903 589 180 (Ông: Nguyễn Đình Khôi)
						li
							p
								strong Điện thoại:
								|  0913 725 159 (Ông: Nguyễn Đức Phát)
						li
							p
								strong Email:
								|  dinhkhoiak@gmail.com; nducphat@gmail.com
						li
							p
								strong Địa chỉ:
								|  BAN THỂ THAO – ĐÀI TRUYỀN HÌNH TP. Hồ Chí Minh-Số 14 Đinh Tiên Hoàng – Quận 1 
					a.read-more(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
			.col-lg-6
section.block_s-4
	.container
		.block_title.column-center
			.title
				h2.text-white Giải thưởng
		.row
			.col-lg-4
			.col-lg-4
				.card-img
					img(src="./img/img-s4.png", alt="")
			.col-lg-4
