section.block_s-1
	.container
		.row
			.col-lg-2
			.col-lg-8
				.block_title.column-center
					.title
						h2 Giới thiệu giải đấu
					.content Nhằm chào mừng thành công Đại hội Đại biểu Đảng bộ TP.HCM khóa XI nhiềm kỳ 2020-2025, hướng tới chào mừng Đại hội Đại biểu toàn quốc lần thứ XIII của Đảng.
					.content-detail Đài truyền hình thành phố Hồ Chí Minh phối hợp với Công ty TNHH MTV SX & TM Minh Giang tổ chức sản xuất loạt chương trình truyền hình thực tế về giải đua xe địa hình HTV Challenge Cup 2020 với mong muốn phát triển bộ môn đua xe ô-tô địa hình tại Việt Nam nói chung và thành phố Hồ Chí Minh nói riêng, giới thiệu đến công chúng khán giả những kỹ năng - tâm lý lái xe ô-tô góp phần bảo vệ an toàn giao thông. Đồng thời, thúc đẩy phong trào thiện nguyện đến những vùng sâu vùng xa, lan tỏa thông điệp nhân văn và ý chí vượt qua khó khăn thử thách.
					a.read-more(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
section.block_s-2
	.container
		.row
			.col-lg-6
				.block_title
					.title
						h2.text-white Nội dung giải đấu
				.block_content-circle
					ul.content
						li
							p Là giải đua địa hình bao gồm các nội dung đua trên đường đua nhân tạo và địa hình tự nhiên, các đường đua nằm trong khuôn viên phim trường HTV – huyện Củ Chi – thành phố Hồ Chí Minh. Được tổ chức bởi Đài Truyền hình thành phố Hồ Chí Minh và Công ty TNHH MTV SX & TM Minh Giang
						li
							p Giải đua phân ra 5 hạng thi đấu như sau:
							p 1/ Hạng chuyên nghiệp
							p 2/ Hạng nâng cấp bán tải
							p Hạng nâng cấp 2 cầu (không phải bán tải)
							p Hạng nguyên bản bán tải
							p 5/ Hạng nguyên bản 2 cầu (không phải bán tải)
						li
							p Địa điểm: Phim trường HTV – xã Hòa Phú, Củ Chi – Thành phố Hồ Chí Minh
					a.read-more_white(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
			.col-lg-6
		.row
			.col-lg-6.pt-30
				.block_title
					.title
						h2 Thông tin đăng ký thi đấu
				.block_content
					ul.content
						p Vui lòng liên hệ chúng tôi theo các thông tin sau:
						li
							p
								strong Điện thoại:
								|  0903 589 180 (Ông: Nguyễn Đình Khôi)
						li
							p
								strong Điện thoại:
								|  0913 725 159 (Ông: Nguyễn Đức Phát)
						li
							p
								strong Email:
								|  dinhkhoiak@gmail.com; nducphat@gmail.com
						li
							p
								strong Địa chỉ:
								|  BAN THỂ THAO – ĐÀI TRUYỀN HÌNH TP. Hồ Chí Minh-Số 14 Đinh Tiên Hoàng – Quận 1 
					a.read-more(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")
			.col-lg-6
section.block_s-3
	.container
		.block_title.column-center
			.title
				h2 Lịch trình thi đấu
		.block_timeline
			-for(i=1;i<=5;i++)
				.timeline
					.timeline-content
						.date
							time Thứ 4, ngày 18/11/2020
					.timeline-content
						.block_content
							ul.content
								li
									p Từ 08h00 đến 09h00: diễu hành tại phim trường Củ Chi
								li
									p Từ 09h00 đến 16h30: nhận bộ RACE-KIT (decal dán xe, số xe thi đấu, thẻ vđv, áo thi đấu, chặn tời, các quà tặng khác nếu có) và kiểm tra xe thi đấu 
								li
									p Từ 16h30 đến 19h00: họp kỹ thuật
								li
									p Từ 16h30 đến 19h00: họp kỹ thuật
section.block_s-4
	.container
		.block_title.column-center
			.title
				h2.text-white Giải thưởng
		.row
			.col-xl-4.df_ai-center
				.block_option
					ul
						li
							.option Hạng chuyên nghiệp
						li
							.option Hạng nâng cấp bán tải và xe 2 cầu (không phải bán tải)
						li
							.option Hạng nguyên bản bán tải và xe 2 cầu (không phải bán tải)
						li
							.option Giải thưởng khác
			.col-xl-4.df_ai-center
				.card-img
					img(src="./img/img-s4.png" alt="")
			.col-xl-4.df_ai-center
				.block_content
					ul.content
						.title Hạng chuyên nghiệp
						.title-content Dự kiến 12 đường đua
							.flow
								img(src="img/flow.png" alt="")
						li
							p
								strong Giải nhất:
								|  cúp, huy chương, mascot (biểu tượng giải) và 120.000.000 đồng
						li
							p
								strong Giải nhì:
								|  cúp, huy chương, mascot và 60.000.000 đồng
						li
							p
								strong Giải ba:
								|  cúp, huy chương, mascot và 30.000.000 đồng
section.block_s-5
	.container
		.block_title.column-center
			.title
				h2 Bảng kết quả
		.x-auto.mb-3
			table.block_result-board
				tbody
					tr.head.bg-blue
						td(colspan='10')
							.title GIẢI ĐUA XE ĐỊA HÌNH HTV CHALLENGE CUP 2020
							.content Kết quả chi tiết đường đua SS-00 Hạng chuyên nghiệp
					tr.name
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Số xe
						td(rowspan='2') Đội đua
						td(colspan='2') Vận động viên
						td(rowspan='2') Điểm đường đua
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
					tr.name
						td Lái chính
						td Lái phụ
					-for(i=1;i<=5;i++)
						tr
							td 1
							td 201
							td Bình xập xình
							td Ngô Xuân Bình
							td Nguyễn Thiên Hỷ
							td 100
							td 00:00,00
							td 0
							td 100
							td 0
		.x-auto
			table.block_result-board
				tbody
					tr.head.bg-green
						td(colspan='10')
							.title GIẢI ĐUA XE ĐỊA HÌNH HTV CHALLENGE CUP 2020
							.content Kết quả chi tiết đường đua SS-00 Hạng chuyên nghiệp
					tr.name
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Số xe
						td(rowspan='2') Đội đua
						td(colspan='2') Vận động viên
						td(rowspan='2') Điểm đường đua
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
					tr.name
						td Lái chính
						td Lái phụ
					-for(i=1;i<=5;i++)
						tr
							td 1
							td 201
							td Bình xập xình
							td Ngô Xuân Bình
							td Nguyễn Thiên Hỷ
							td 100
							td 00:00,00
							td 0
							td 100
							td 0
section.block_s-5
	.container
		.block_title.column-center
			.title
				h2 Bảng tổng kết
		.x-auto
			table.block_result-board
				tbody
					tr.head.bg-red
						td(colspan='10')
							.title GIẢI ĐUA XE ĐỊA HÌNH HTV CHALLENGE CUP 2020
							.content Kết quả chi tiết đường đua SS-00 Hạng chuyên nghiệp
					tr.name
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Số xe
						td(rowspan='2') Đội đua
						td(colspan='2') Vận động viên
						td(rowspan='2') Điểm đường đua
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
						td(rowspan='2') Xếp hạng
					tr.name
						td Lái chính
						td Lái phụ
					-for(i=1;i<=5;i++)
						tr
							td 1
							td 201
							td Bình xập xình
							td Ngô Xuân Bình
							td Nguyễn Thiên Hỷ
							td 100
							td 00:00,00
							td 0
							td 100
							td 0
section.block_s-7
	.container
		.block_title.column-center
			.title
				h2 Tin tức
		.news_slide
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<=5;i++)
						.swiper-slide
							.news-card
								.new-img
									.img.opacity 
										img(src="./img/new-1.png" alt="")
								.content-news
									.date
										span.lnr.lnr-calendar-full
										time 5.11.2020
									.caption
										a(href="") Thử thách cực hạn - Đỉnh cao của sự đơn giản
									a(href="#").readmore-news Xem thêm
										span.lnr.lnr-arrow-right
			.nav-arrow
				.nav-arrow-prev
					img.arrow(src="./img/banner/arrow-left.png")
				.nav-arrow-next
					img.arrow(src="./img/banner/arrow.png")
section.block_s-8
	.container
		.block_title.column-center
			.title
				h2 Video
		.row
			-for(i=1;i<=7;i++)
				.col-lg-3.col-sm-6.col-xs-6
					.about-figure
						.img-wrapper
							img(src="./img/video-1.png" alt="")
						.content
							.date
								span.lnr.lnr-film-play
								time 05.11.2020
							p HTV Challenge Cup 2020 - Sân chơi địa hình độc đáo nhất Việt Nam đã quay trở lại!
			.col-lg-3.col-sm-6.col-xs-6
				.about-figure
					.img-wrapper
						img(src="img/video-1.png" alt="")
					.content
						.date
							span.lnr.lnr-film-play
							time 05.11.2020
						p HTV Challenge Cup 2020 - Sân chơi địa hình độc đáo nhất Việt Nam đã quay trở lại!
		.column-center
			a.read-more(href="#") Xem thêm
				img.arrow(src="./img/banner/arrow.png")