section.block_banner
	.card-img 
		.img 
			img(src="./img/banner/banner.png", alt="")
		.block_text-banner
			.container
				.text-banner
					.title-banner
						h1 Giải đua xe địa hình HTV CHALLENGE CUP 2020
					.content Các đường đua nằm trong khuôn viên phim trường HTV – huyện Củ Chi – thành phố Hồ Chí Minh. Được tổ chức bởi Đài Truyền hình thành phố Hồ Chí Minh và Công ty TNHH MTV SX & TM Minh Giang
					a.read-more(href="#") Xem thêm
						img.arrow(src="./img/banner/arrow.png")